.hero{
    background-color: #2E2F42;
}
.hero-title{
    color: #FFFFFF;
    letter-spacing: 0.02em;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.hero-btn{
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-btn:hover, 
.hero-btn:focus{
    background-color: #404BBF;
}