.team {
    background: #f4f4fd;
}

.team-headline {
    text-align: center;
}

.team-list {}

.team-subtitle {
    text-align: center;
}

.team-text {
    text-align: center;
}

.team-item{
    background-color: #fff;
}